.logo{
    width:3rem !important;
    
}
#logo1{
    background-image: url(../icons/logo.png);
    background-size: cover;
    padding: 0%;
}
img {
    width: 2rem;
    padding: 2px;
}
.custom{
 height: 100vh;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: whitesmoke !important;
}