.title{
    padding: 30px 0;
    text-transform: capitalize;
    font-size: 25px;
    font-family: "Pacifico", cursive;
}

.navOptions li{
    list-style-type: none;
    text-decoration: none;
    padding-top: 30px;
}
.navOptions a{
    text-decoration: none;
    color: white;
}

.More{
    margin-top: 300px;
}
#jmProfile{
    border:solid 1px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    object-fit: cover;
    width: 60px;
    width: 60px;
    background-image: url("../images/jmpfp.jpg");
    background-size: contain;
    align-self: center;
}

.images{
   margin-left: 140px;
}
