.title{
    margin-left: 30px;
    padding: 30px 0;
    text-transform: capitalize;
    font-size: 25px;
    font-family: "Pacifico", cursive;
}

.fixed{
    position: fixed;
}

.fixed .navOptions li:hover {
    transform: scale(1.1);
}

.navOptions li{
    list-style-type: none;
    text-decoration: none;
    padding-top: 30px;
}
.navOptions a{
    text-decoration: none;
    color: white;
}

.More{
    margin-top: 130%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.asdd{
    min-height: 0vh;
    display: grid;
    align-content: top;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    place-items: center;
    color: rgb(51, 51, 51);
}

.container{
    overflow-x: auto;
    overscroll-behavior-x: contain;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(4, 4, 4);
    padding: 2rem;
    width: 71%;
    margin-top: 20px;
    margin-left: 10%;
}

.story-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 5rem;
    grid-gap: 2rem;
}
.story-container .content {
    display: grid;
    grid-gap: 0.5rem;
    margin: 0;
    text-align: center;
    position: relative;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s ease-in;
}

.story-container .content:hover {
    transform: scale(1.1);
}

.story-container .content .image-container {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: radial-gradient(rgba(0,0,0,0.15) 60%, transparent 0),
    radial-gradient(white 65%, transparent 0),
    linear-gradient(to top right, orange, deeppink);
}

.story-container .content .image-container img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: circle(42%);
}

.story-container .content:last-child::after {
    content: '';
    position: absolute;
    width: 2rem;
    height: 100%;
    right: -2rem;
}

.story-container .content .text-container{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.9rem;
    color: white;
}

.container::-webkit-scrollbar {
    display: none;
}

.Newsfeed{
    background: #fff;color: aliceblue;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
    left: 350px;
    
}

.newsfeed{
    padding-top: 5%;
    padding-left: 25%;
    
}

.usercontainer1{
    display: flex;
    align-items: center;
}

.user1{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-left: 80px;
    float: left;
    border: 2px solid white;
    object-fit: cover;
    padding :2px;

}

.user1name{
    font: bold;
    color: white;
    float: left;
    padding-left: 25px;
    padding-top: 8px;
    font-size: 18px;
}

.songname1{
    color: white;
    float: left;
    margin-left: -80px;
}

.post1{
    margin-top: 20px;
    margin-left: 130px;
    width: 630px;
    height: 680px;
    background-color: white;
}

.post1 img {
    margin-left: 80px;
    margin-top: 100px;
    width: 480px;
    height: 480px;
}

.dots1{
    margin-left: 500px;
    margin-top: -37px;
}



.usercontainer2{
    display: flex;
    align-items: center;
    
}

.user2{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-left: 80px;
    float: left;
    border: 2px solid white;
    object-fit: cover;
    padding :2px;
    margin-top: 50px;

}

.user2name{
    font: bold;
    color: white;
    float: left;
    padding-left: 25px;
    padding-top: 8px;
    font-size: 18px;
    margin-top: 50px;

    
}

.songname2{
    color: white;
    float: left;
    margin-left: -70px;
    margin-top: 50px;

}

.post2{
    margin-top: 20px;
    margin-left: 130px;
    width: 630px;
    height: 680px;
    background-color: white;
}

.post2 img {
    margin-left: 80px;
    margin-top: 100px;
    width: 480px;
    height: 480px;
}

.dots2{
    margin-left: 500px;
    margin-top: -37px;
    margin-top: 37px;

}

.rightcolumn {
    color: white;
    margin-left: 77%;
    margin-top: -1000px;
}

.sideuser {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    padding: 2px;
    border: 2px solid white;
    float: left;
    margin-top: -975px;
}

.sideusername {
    font: bold;
    color: white;
    float: left;
    padding-left: 65px;
    margin-top: -970px;
    font-size: 18px;
}

.sidename {
    float: left;
    margin-left: 65px;
    margin-top: -950px;
}

.suggested-fy {
    margin-top: -670px;
}

.see-all {
    margin-top: -33px;
    margin-left: 300px;
}
